.formulario{

&-title{
    color: grey;
    background-color: rgb(245, 204, 150);
    text-align: center;
    padding: 10px;
}
&-text{
    text-align: center;
    justify-content: space-evenly;
    padding: 30px;
}
}